.container {
  display: flex;
  flex-direction: column; /* フレームとボタンを縦に並べる */
  align-items: center;
  height: 100vh;
  background-color: white;
}

.frame {
  background-color: #b4dfc9;
  border-radius: 10px;
  height: 260px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  width: 940px;
}

.nyuuryokusikaku {
  background-color: #ffffff;
  height: 171px;
  left: 20px;
  position: relative;
  top: 30px;
  width: 700px;
	color: #000000;
}

.nyuuryokutext {
  font-size: 20px;
  color: rgb(62, 62, 62);
  font-weight: 500;
  position: relative;
  top: 10px;
}

.box {
  position: relative;
  margin-top: 20px; /* フレームとの間にスペースを追加 */
  width: 150px;
  height: 40px;
}

.box .group {
  background-color: #ffffff;
  border: 3px solid;
  border-color: #2fa268;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-wrapper {
  height: 36px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textwrapper {
  color: #2fa268;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
