.container {
	padding-top: 33px;
	display: flex;
  flex-direction: column;
  align-items: flex-start; /* ボタンを右寄せにする */
  height: 100vh;
  background-color: transparent;
}

.frame {
  background-color: #b4dfc9;
  border-radius: 10px;
  height: 260px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  width: 940px;
}

.nyuuryokusikaku {
  background-color: #ffffff;
  height: 171px;
  left: 20px;
  position: relative;
  top: 30px;
  width: 700px;
  color: #000000;
  border: none; /* 入力ボックスの枠線を消す */
}

.nyuuryokutext {
  font-size: 20px;
  color: rgb(62, 62, 62);
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 20px;
}

.textwrapper {
  color: #2fa268;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid #2fa268;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  margin-top: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.tw_red {
  color: #e43131;
  border: 3px solid #e43131;
}
