.obiContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ボタンを右寄せにする */
  background-color: transparent;
  height: 260px;
  width: 940px;
}

.obiPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 子要素を上下に等間隔で配置 */
  height: 100%; /* 親要素が必要な高さを確保 */
	background-color: #b4dfc9;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  width: 100%;
  z-index: 1;
}

.textSlider, .textSliderBottom {
  position: relative;
  left: 0;
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #e69f00;
  z-index: 100;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* テキストと警告アイコンを横並びにする */
.sliderTextWithIcon {
  display: flex;
  align-items: center;
  width: 33%; /* 各テキスト要素がスライダー内で均等に並ぶように設定 */
}

.arrowIcon {
  width: 43px; /* 矢印アイコンの大きさを大きくする */
  height: 43px;
  margin-right: 5px; /* アイコンとテキストの間隔 */
}

.warningIcon {
  width: 36px; /* 警告アイコンの大きさ */
  height: 36px;
  margin-right: 10px; /* テキストとの間隔 */
}

.textSlider {
  position: absolute;
  bottom: 30px; /* 下から10pxに配置 */
}

.textSliderBottom {  
  position: absolute;
  top: 30px; /* 上から10pxに配置 */
}

/* 避難ページでのスタイル上書き */
.evacuationPage .textSliderBottom {
  bottom: 0 !important; /* 避難ページでのみ最下部に配置 */
}

.mokuzi{
	color: #000000;
	font-weight: lighter; /* 太字に設定 */
	font-size: 20px;
	margin-top: 20px;
}
