  /*
    .name-order { 
    display: frex;
    justify-content: center;
    gap: 50px;
    margin-left: 43px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .alpha-order {
    background-color: #98CB9A;
    height: 5vh;
    width: 16vw;
  }
  
  .old-order {
    background-color: #F9B07B;
    height: 5vh;
    width: 16vw;
  }

  table {
    position: relative;
    border-collapse: collapse;
    background-color: #DCDADA;
    width: 67vw;
    height: 6vh;
  }

  table th.label {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 30px;
    border-bottom: 2px solid #ddd;
    text-align: left;
  }

  .username {
    width: 16vw;
    height: 6vh;
  }
  
  .useesafety {
    width: 25vw;
    height: 6vh;
  }
  
  .userposition {
    width: 25vw;
    height: 6vh;
  }

  button {
    border: none;
  }

  */