.home-container {
  padding: 7vh 0;

  place-items: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;

  gap: 3em;

  width: 100%;
  height: 100vh; /* 画面全体の高さに合わせる */
  background-color: white; /* 背景色を白に設定 */
}

.map-box {
  width: 90%;
  height: 100%;
  background-color: gray; /* 灰色の四角形 */
  border-radius: 10px; /* 四隅の角丸の設定 */
}

.green-box {
  width: 90%;
  height: 100%;
  background-color: #B5DFCA;
  border-radius: 10px; /* 四隅の角丸の設定 */
}

.sokuhouText {
  font-size: 20px;
  color: black;
  font-weight: 500;
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 630px;
}



