.safe-container {
  padding: 7vh 0;

  place-items: center;

  width: 100%;
  height: 100vh; /* 画面全体の高さに合わせる */
  background-color: white; /* 背景色を白に設定 */
}


table {
  margin: 10px 0;
  width: 90%;

  border: solid 1px black;
  background-color: #E7E7E7;
;
}

.name {
  width: 40%;
}

.safety {
  width: 30%;
}

.position {
  width: 30%;
}

td {
  padding: 10px;
}